### Question 1a: Concatenate Multiple Strings (CONCAT)

In [1]:
SELECT CONCAT(AddressLine1, ', ', City, ', FL, ', PostalCode) AS Address
FROM Person.Address
WHERE City = 'Miami';

Address
"1 Corporate Center Drive, Miami, FL, 33127"
"20500 S.W. 2512th Ave, Miami, FL, 33127"
"2545 N.W. 107th Ave., Miami, FL, 33127"
"2561 Nw 8410th Avenue, Miami, FL, 33127"
"79945 Corporate Center Drive, Miami, FL, 33127"
"825 Coral Way, Miami, FL, 33127"
"83995 South Dixie Highway, Miami, FL, 33127"
"8525 Nw 17th St., Miami, FL, 33127"
"Dadeland Mall, Space 25090, Miami, FL, 33127"
"Flagler Park Plaza, Miami, FL, 33127"

### Question 1b: ASCII Values

**Explanation:**

The ASCII function returns the ASCII code value of the leftmost character of a character expression. For example, `ASCII('A')` returns 65.

The CHAR function converts an integer ASCII code to a character. For example, `CHAR(65)` returns 'A'.

**Possible Reasons for Using These Functions:**

- **ASCII**: To determine the numeric ASCII code of characters for data validation or to convert non-printable characters.
- **CHAR**: To convert ASCII codes back into characters, useful for generating strings from numeric data or encoding special characters.

### Question 1c: Integer and Unicode Values

**Explanation:**

The UNICODE function returns the integer value, as defined by the Unicode standard, for the first character of the input expression. For example, `UNICODE('A')` returns 65.

The NCHAR function returns the Unicode character that corresponds to the input integer value, as defined by the Unicode standard. For example, `NCHAR(65)` returns 'A'.

**Possible Reasons for Using These Functions:**

- **UNICODE**: To get the Unicode value of characters for applications dealing with internationalization.
- **NCHAR**: To generate characters from Unicode values, useful in multilingual databases and applications.

### Question 2a: Locate a Substring

In [2]:
SELECT AddressLine1
FROM Person.Address
WHERE City = 'Miami' AND AddressLine1 LIKE '%Ave%';

AddressLine1
20500 S.W. 2512th Ave
2545 N.W. 107th Ave.
2561 Nw 8410th Avenue

### Question 2b: Similarity of Strings

In [3]:
SELECT DISTINCT 
    SOUNDEX(City) AS CitySoundex, 
    SOUNDEX('Auburn') AS AuburnSoundex, 
    DIFFERENCE(City, 'Auburn') AS Difference, 
    City
FROM Person.Address
WHERE DIFFERENCE(City, 'Auburn') = 3;

CitySoundex,AuburnSoundex,Difference,City
A152,A165,3,Abingdon
A216,A165,3,Augsburg
A415,A165,3,Albany
A415,A165,3,Alpine
A645,A165,3,Arlington
A660,A165,3,Aurora
S165,A165,3,Spring Valley
S165,A165,3,Springdale
S165,A165,3,Springfield
S165,A165,3,Springwood